[Unit]
Description=Airflow scheduler daemon
After=network.target postgresql.service
Wants=postgresql.service

[Service]
EnvironmentFile=/home/shubham/github/asr_airflow/.env
User=shubham
Group=shubham
Type=simple
ExecStart= /home/shubham/.pyenv/versions/3.7.2/envs/shubham_airflow/bin/airflow scheduler --pid /home/shubham/github/asr_airflow/scheduler.pid
WorkingDirectory=/home/shubham/github/asr_airflow
Restart=on-failure
RestartSec=5s
PrivateTmp=true

[Install]
WantedBy=multi-user.target

