AIRFLOW_HOME=/home/shubham/github/asr_airflow
AIRFLOW_CONFIG=$AIRFLOW_HOME/airflow.cfg
AIRFLOW__CORE__SQL_ALCHEMY_CONN="postgresql+psycopg2://127.0.0.1:5432/db_name?user=user&password=password"
AIRFLOW_CONN_AIRFLOW_DB="postgresql://airflow@127.0.0.1:5432/airflow"
LOGS_PARENT_DIR=$AIRFLOW_HOME/logs
AIRFLOW__CORE__BASE_LOG_FOLDER=$LOGS_PARENT_DIR/pipelines

# Use the following settings if you are not running the project locally.
# AIRFLOW__WEBSERVER__BASE_URL="http://155.69.146.209:7000"
# AIRFLOW__WEBSERVER__WEB_SERVER_PORT=7000
# AIRFLOW__WEBSERVER__WEB_SERVER_HOST=155.69.146.209

WATCHER_DB_URL = "postgresql://watcher:yeshallnotpass@localhost:5432/watcher"
PATH=export_path_here
