[Unit]
Description=Airflow webserver daemon
After=network.target postgresql.service
Wants=postgresql.service

[Service]
EnvironmentFile=CURRENT_DIR/.env
User=shubham
Group=shubham
Type=simple
ExecStart= /home/shubham/.pyenv/versions/3.7.2/envs/asr_airflow/bin/airflow webserver --pid CURRENT_DIR/webserver.pid
WorkingDirectory=CURRENT_DIR
Restart=on-failure
RestartSec=5s
PrivateTmp=true

[Install]
WantedBy=multi-user.target

