[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=shubham
Group=shubham
WorkingDirectory=CURRENT_DIR/app
ExecStart=/home/shubham/.pyenv/versions/asr_airflow/bin/gunicorn --access-logfile - --workers 4 --timeout 120 --bind server_domain_or_IP:8000 app.wsgi

[Install]
WantedBy=multi-user.target